extends: default

ignore: |
  controller/inventory/group_vars/all/vault.yml

rules:
  line-length:
    max: 140
    level: warning
  truthy:
    allowed-values: ["true", "false"]
    check-keys: false
  document-start: disable
